@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


.App {
  text-align: center;
  background-color: #121212;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Roboto Slab";
}

a {
  border-bottom: 1px dashed #fff;
  text-decoration: none;
  color: #fff;
  letter-spacing: 1.5px;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 1.5px;
  text-align: start;
}

p {
  margin: 15px 0;
  letter-spacing: 1px;
  text-align: start;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.mail {
  text-align: start;
  margin-top: 15px;
}

@media (prefers-reduced-motion: no-preference) {
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
