@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  background-color: #121212;
}

.App {
  text-align: center;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Roboto Slab";
  padding: 10vh 0 5vh 0;
}

a,
.skills {
  border-bottom: 1px dashed #fff;
  text-decoration: none;
  color: #fff;
  letter-spacing: 1.5px;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 1.5px;
  text-align: start;
}

p {
  margin: 15px 0;
  letter-spacing: 1px;
  text-align: start;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.mail {
  text-align: start;
  margin-top: 15px;
}

.links {
  margin-top: 15px;
}

footer {
  border-top: 1px solid #ffffff96;
  margin-top: 15px;
  text-align: start;
  padding: 10px 0;
}

.footer-container {
  display: flex;
  gap: 15px;
}

@media (max-width: 991px) {
  .container {
    padding: 0 15px;
  }

  .App {
    padding: 3vh 0 3vh 0;
  }
}

@media (max-width: 991px) {
  .container {
    padding: 0 15px;
  }
}